body {
    display: flex;
    flex-direction: column;
}

.swiper-container {
    width: 100%;
    height: 100%;
    flex: 1;
    margin-top: 50px;
    margin-bottom: 50px;
}

.covid-slide {
    background-image: url(../images/covid.jpg);
}

.weed-slide {
    background-image: url(../images/weed.jpg);
}

.airQuality-slide {
    background-image: url(../images/meteo.jpg);
}

.swiper-slide {
    height: 90%;
}

.swiper-slide-h {
    background-position: center;
    background-size: cover;
    max-width: 40vw;
}

.swiper-container-v {
    height: 100%;
}

.swiper-wraper-v {
    height: 100%;
}

.swiper-slide-v {
    height: 100%;
}

footer, header {
    font-family: 'Open Sans', sans-serif;
}

.logo {
    height: 10vh;
}

.covid-photo {
    height: 70%;
}

@media screen and (max-width: 840px) {
    .weed-table {
        font-size: x-small;
    }

    footer {
        display: none;
    }

    .weed-data {
        font-size: small;
    }

    .covid-photo {
        height: 50%;
    }
}
