body {
    display: flex;
    flex-direction: column;
}

.swiper-container {
    width: 100%;
    height: 100%;
    flex: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}

.swiper-slide-h {
    background-position: center;
    background-size: cover;
    max-width: 40vw;
    border: solid;
}

.swiper-container-v {
    height: 100%;
}

.swiper-wraper-v {
    height: 100%;
}

.swiper-slide-v {
    height: 100%;
}